*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* //? 16 is default, 10 is (10px/16px)=62.5% */
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
  border: 0 #fff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: #154b81;
  border: 0 #154b81;
  border-radius: 50px;
}
